@import "tailwindcss";
@plugin "daisyui";

@keyframes spin-custom {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.floka-spin {
  animation: spin-custom 12s linear infinite;
}