@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary: #6C63FF;
}

html {
  scroll-behavior: smooth;
  font-family: 'Inter', system-ui, sans-serif;
}

@keyframes spin-custom {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.floka-spin {
  animation: spin-custom 12s linear infinite;
}